<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Doubutsu Shogi</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>ANIMAL LOGIC</h1>
            <p id="status">Player Turn</p>
        </header>

        <div class="hand-area" id="enemy-hand">
            <span class="label">AI HAND:</span>
            <div class="hand-pieces" id="hand-2"></div>
        </div>

        <div class="board" id="board">
            </div>

        <div class="hand-area" id="my-hand">
            <span class="label">YOU HAND:</span>
            <div class="hand-pieces" id="hand-1"></div>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>